
<footer id="footer">
    <div class="inside-footer">
        <div class="footer-icon">
            <i class="fa fa-film" aria-hidden="true"></i>
        </div>
        <div class="footer-details">
            <span>Flixers is a Free Movies streaming site with zero ads. We let you watch movies online without having to register or paying, with over 10000 movies and TV-Series. You can also Download full movies from MyFlixer and watch it later if you want.</span> 
        </div>
        <div class="copyright">
            <span>&copy; Flixers</span>
        </div>
        <div class="footer-extras">
            <span>App -</span>

            <span> Terms of service -</span>
            <span>Contact -</span>
        </div>
    </div>

</footer>

<script src="/js/main.js"></script>
</body>
</html>